{% extends 'base_index.html' %}
{% load static %}

{% block titulo %}
    ETA {{ index.cidade_estado }}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'index/css/index.css' %}">
{% endblock %}

{% block body %}
        <div class="logo">
          <img src="{{ index.img.url }}" alt="Logo">

        </div>
  <div class="container-fluid">
    <div class="row">
      <!-- Primeira parte da tela (50%) -->
      <div class="col-md-6" style="background-color: aliceblue;">
        <br>
        {% if video %}
          <div class="video-container">
            {% with video_id=video.video_link|slice:"32:43" %}
              <iframe src="https://www.youtube.com/embed/{{ video_id }}?start={{ video.video_link|slice:"46:49" }}"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen>
              </iframe>
            {% endwith %}
          </div>
        {% else %}
          <p>Nenhum vídeo disponível.</p>
        {% endif %}
        <h5>{{ video.titulo }}</h5>
        <p>{{ video.mensagem }}</p>
        <hr>
      </div>

      <!-- Segunda parte da tela (50%) -->
      <div class="col-md-6" style="background-color: #ffffff;">
        <br>


        <h1>Parte 2</h1>
      </div>
    </div>
  </div>
{% endblock %}
