{% extends 'base_index.html' %}
{% load static %}

{% block titulo %}
    ETA {{ index.cidade_estado }}
{% endblock %}

{% block head %}
    <!-- Aqui você pode adicionar algum conteúdo específico para o cabeçalho -->
{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="row">
      <!-- Primeira parte da tela (50%) -->
      <div class="col-md-6" style="background-color: aliceblue;">
        <h2>Parte 1</h2>
        <p>Conteúdo da primeira parte.</p>
      </div>

      <!-- Segunda parte da tela (50%) -->
      <div class="col-md-6" style="background-color: ghostwhite;">
        <h2>Parte 2</h2>
        <p>Conteúdo da segunda parte.</p>
      </div>
    </div>
  </div>
{% endblock %}
